<svg xmlns="http://www.w3.org/2000/svg" width="300" height="300">

    <image href="resources/pic/ROLEX.png" height="290" width="290" alt="Oh Lost the picture!" x="6" y="7"/>

    <!--  hands  -->
    <line id="hours" x1="150" y1="150" x2="150" y2="65" stroke="#000" stroke-width="4"/>
    <line id="minutes" x1="150" y1="150" x2="150" y2="50" stroke="#000" stroke-width="4"/>
    <line id="seconds" x1="150" y1="150" x2="150" y2="35" stroke="#000" stroke-width="4"/>
    <circle cx="150" cy="150" r="5" fill="#fff"/>
    <text class="date" x="113" y="200"></text>
    <text class="daySymbol" x="235" y="155" fill="#c0c0c0"></text>
</svg>